<div id="contact">
    <div class="section">
        <h1>Contact Me</h1>
         
        <div class="row contact-icons mb-5 mb-sm-0">
            <a class="col-lg mb-4" href="https://www.linkedin.com/in/libertyjayne/">
              <img src="/assets/img/linkedin.png" data-toggle="popover" title="LinkedIn" alt="LinkedIn">
            </a>
            <a class="col-lg mb-4 mr-4-md" href="https://github.com/">
              <img src="/assets/img/github.png" data-toggle="popover" title="GitHub" alt="GitHub">
            </a>
            <a class="col-lg mb-4" href="mailto:libertyjayne@gmail.com">
              <img src="/assets/img/email.png" data-toggle="popover" title="Email me" alt="Email">
            </a>
            <a class="col-lg mb-4" href="/assets/resume.pdf">
              <img src="/assets/img/report.png" data-toggle="popover" title="Resume" alt="Resume">
            </a>
        </div>
    </div> 
</div>
