<div id="contact">
    <div class="section">
        <h1>Contact Me</h1>
        <div class="flex-container">
          <a href="https://www.linkedin.com/in/libertyjayne/">
            <fa-icon [icon]="faLinkedIn" size="4x" class="icon" data-toggle="popover" title="LinkedIn" alt="LinkedIn"></fa-icon>
          </a>
          <a href="https://github.com/libertyjayne">
            <fa-icon [icon]="faGitHub" size="4x" class="icon" data-toggle="popover" title="GitHub" alt="GitHub"></fa-icon>
          </a>
          <a href="https://twitter.com/liberty_jayne">
            <fa-icon [icon]="faTwitter"  size="4x" class="icon" data-toggle="popover" title="Twitter" alt="Twitter"></fa-icon>
          </a>
          <a href="mailto:libertyjayne@gmail.com">
            <fa-icon [icon]="faMail" size="4x" class="icon" data-toggle="popover" title="Email Me" alt="Email Me"></fa-icon>
          </a>
          <a href="/assets/resume.pdf">
            <fa-icon [icon]="faResume" size="4x" class="icon" data-toggle="popover" title="Resume" Alt="Resume"></fa-icon>
          
          </a>
      </div>
    </div> 
</div>
