@import './variables.scss';

#banner {
    height: 110vh!important;
    background: url('/assets/img/mnrdB5l.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        width: 24rem;
        height: 20rem;
        font-size: 1.75rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        // box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: white;
        // color: $light-font;
        // background-image: linear-gradient($light-turq, $teal);
        opacity: 80%;
        // border-radius: $radius;
      }

    h1 {
        font-size: 5rem;
    }
}



