@import './variables.scss';

#banner {
    height: 110vh!important;
    background: url('/assets/img/background.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        width: 35rem;
        height: 21rem;

        //Flexbox
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        // box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: white;
        // color: $light-font;
        // background-image: linear-gradient($light-turq, $teal);
        opacity: 80%;
        // border-radius: $radius;
      }

    h2 {
      margin-top: 4rem;
    }
}
@media screen and (min-width: 800px) {
  #banner {
    div {
      width: 54rem;
      height: 28rem;
    }
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 3rem;
    }

  }
  
}

