@import './variables.scss';

#banner {
    height: 110vh!important;
    background: url('/assets/img/mnrdB5l.png');
    background-size: cover;
    display: flex;
    align-items: center;

    div {
        background: $pink;
        width: 300px;
        height: 9em;
        // border: 2px solid $teal;
        font-size: 1.75rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-image: linear-gradient($light-pink, $dark-pink);
        opacity: 90%;
        border-radius: 15px;
      }

    
    h1 {
        font-size: 5rem;
    }
}


@media screen and (min-width: 800px) {


}


