@import './variables.scss';

.card {
    width: 300px;
    height: 9em;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    background-color: white;
}


@import './variables.scss';
.card-raised{
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.3);
}


