@import './variables.scss';
// @import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

// $script: 'Over the Rainbow', cursive;
$script: 'Shadows Into Light Two', cursive;

$font: 'Open Sans', sans-serif;
* {
    // font-size: 1.25rem;
    font-family: $font;
  }
  h1 {
    font-family: $script;
  }

  p {
    line-height: 2;
    font-size: 1.25;
    max-width: 50ch;
  }