
.proj-row {
    box-shadow: 5px 5px 20px grey;
    padding: 17px;
    background: white;
    margin-bottom: 5%;
}
.proj-row > * {
    position: inherit;
    /* min-height: 400px; */
}

.proj-img img{
    width: 90%;
    box-shadow: 3px 3px 20px grey;
    margin: auto auto;
    border-radius: 10px;
}
.proj-img {
    text-align: center;
}
    
@media (min-width: 768px){
    .proj-img {
        margin-top: 1.3rem;
        vertical-align: middle;
    }

    .proj-row {
        height: 28rem;
    }
                                                                                                  
}


