@import './variables.scss';
$background: $main-color;
$nav-font-color: white;
$nav-hover: black;

nav {
  text-align: center;
  position: fixed;
  width: 100%;
  box-shadow: $shadow;
  background-color: $background;
  opacity: 99%;
  z-index: 999;
}

nav ul {
  //Sizing
  height: 5rem;
  max-width: 865px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1.15rem;

  //Flex
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  list-style: none;

}

nav li {
  margin-bottom: 1em;
}

nav a {
  color: $nav-font-color;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  // opacity: 0;
  // transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: $nav-hover;
}

// .nav-toggle:checked ~ nav {
//   transform: scale(1,1);
// }

// .nav-toggle:checked ~ nav a {
//   opacity: 1;
//   transition: opacity 250ms ease-in-out 250ms;
// }

@media screen and (min-width: 800px) {

  // header {
  //   justify-content: center;
  // }
  // .nav-toggle-label {
  //   display: none;
  // }
 
  // nav {
  //   all: unset; /* this causes issues with Edge, since it's unsupported */
    
  //   /* Add Edge support */
  //   position: relative;
  //   text-align: left;
  //   transition: none;
  //   transform: scale(1,1);
  //   background: none;
  //   top: initial;
  //   left: initial;
  //   /* End Edge support stuff */

  //   width: 865px;
  //   padding-right: 1rem;
  // }
  
  // nav ul {
  //   display: flex;
  //   justify-content: space-between;
  //   padding-right: 1rem;
  //   padding-left: 1rem;
  // }
  
  // nav li {
   
  //   margin-bottom: 0;
  // }
  
  // nav a {
  //   opacity: 1;
  //   position: relative;
  // }
  
  // nav a::before {
  //   content: '';
  //   display: block;
  //   height: 5px;
  //   background: black;
  //   position: absolute;
  //   top: -.75em;
  //   left: 0;
  //   right: 0;
  //   transform: scale(0, 1);
  //   transition: transform ease-in-out 250ms;
  // }
  
}

