@import './variables.scss';

#skills {

.card {
    width: 16rem;
    height: 20rem;
    position: relative;
    color: black;
    line-height: 1.5;

    ul {
      padding-left: 0;
      margin-bottom: 0 !important;
    }
  }

  #languages {
    // background-image: linear-gradient($turqoise, $green);
    background: $light-turq;
  }

  #framework {
    // background-image: linear-gradient($light-pink, $dark-pink);
    // background: $light-pink;
    background: $med-pink;
  }

  #other {
    // background-image: linear-gradient($light-purple, $dark-purple);
    // background: $light-purple;
    background: $light-purple;
  }
}
