$darkest-blue: #192F3C;
$dark-blue: #112D35;
$white: #FFFFFF;
$light-pink: #FDE8E7;
$med-pink: #FBD7D7;
$pink: #FACFCC;
$dark-pink: #FABFBE;
$light-purple: #D89DB3;
$dark-purple: #C18AA1;
$blue: #0C4965;
$turqoise: #B4E0E2;
$teal: #367787;
$green: #398286;


