<section id="about-me">
  <h1>A little about me...</h1>
  <p>I'm a full-stack software engineer. When I'm not getting my thrills building software, I can be found playing roller derby, gardening, traveling, or spending time with my three-legged pug mix.</p>
      
  <p>I'm most experienced in using MySQL, Python, C#, and .NET Core to create RESTful APIs on the backend, as well as Angular, JavaScript, and Bootstrap for dynamic and responsive front end views.</p> 
      
  <p>Feel free to reach out! I am always available and excited to chat about tech, dogs, plants, travel destinations, or just to say hello!</p>
  <div class="img">
    <img src="/assets/img/me.jpg" alt="Image of Liberty">
    <img src="/assets/img/bungee.jpg" alt="Image of Liberty bungee jumping">
    <img src="/assets/img/derby.jpg" alt="Image of Liberty playing roller derby">
    <img src="/assets/img/team.jpg" alt="Image of roller derby team with metals">
  </div> 
</section>


