<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <header>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
          <ul>
            <li><a href="#about-me">About</a></li>
            <!-- <li><a data-number="7" (click)="smoothScroll('testimonials')">
                <span class="cd-dot"></span>
                <span class="cd-label">Testimonials</span>
            </a></li> -->
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>
      </header>
    <div id="content">
        <div id="banner" class="jumbotron-fluid img-fluid background-img">
            <div class="container text-center">
                <img src="/assets/img/name.png" alt="Liberty Jayne Failor" class="img-fluid">
                <h1>Hello;</h1>
                <p>I'm Libery. Full-stack Developer.
            </div>
        </div> 
  
        <div id="about-me" class="jumbotron jumbotron-fluid">
            <div class="container">
                <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
                
                <h1>A little about me...</h1>
                <p class="mt-4 lead">I'm a full-stack software engineer. When I'm not getting my thrills building software, I can be found playing roller derby, gardening, reading, traveling, and spending time with my three-legged pug mix.</p>
                    
                <p class="lead">I'm most experienced in using MySQL, Python, C#, and .Net Core to create RESTful APIs on the backend, as well as Angular, JavaScript, and Bootstrap for dynamic and responsive front end views.</p> 
                    
                <p class="lead">Feel free to reach out! I am always available and excited to chat about tech, dogs, travel destinations, or just to say hello!</p>
                <div class="text-center pt-5">
                    <img class="mr-lg-5 hob-img img-fluid" src="/assets/img/flower.png" alt="Flower">
                    <img class="mr-lg-5 hob-img img-fluid" src="/assets/img/bungee.png" alt="Bungee jumping">
                    <img class="hob-img img-fluid" src="/assets/img/derby.png" alt="Playing Roller Derby">
                </div>
                
            </div>
        </div> 
        <div class="parallax">
        </div>
  
        <div id="skills" class="jumbotron jumbotron-fluid mb-0">
            <div class="container">
                <h1 class="mb-4">My Skills</h1>
                <div class="text-center">
                    <img class="m-5 skill-icon" src="/assets/img/bootstrap.png" alt="Bootstrap" data-toggle="popover" title="Resume">
                    <img class="m-5 skill-icon" src="/assets/img/ajax.png" alt="Ajax" data-toggle="popover" title="Ajax">
                    <img class="m-5 skill-icon" src="/assets/img/angular.png" alt="Angular" data-toggle="popover" title="Angular">
                    <img class="m-5 skill-icon" src="/assets/img/CSS.png" alt="CSS" data-toggle="popover" title="CSS"><br>
                    <img class="m-5 skill-icon" src="/assets/img/django.png" alt="Django" data-toggle="popover" title="Django">
                    <img class="m-5 skill-icon" src="/assets/img/MEAN.png" alt="MEAN" data-toggle="popover" title="MEAN">
                    <img class="m-5 skill-icon" src="/assets/img/mongodb.png" alt="Mongo-DB" data-toggle="popover" title="MongoDB">
                    <img class="m-5 skill-icon" src="/assets/img/mysql.png" alt="MySQL" data-toggle="popover" title="MySQL"><br>
                    <img class="m-5 skill-icon" src="/assets/img/c-sharp.png" alt="C-Sharp" data-toggle="popover" title="C#">
                    <img class="m-5 skill-icon" src="/assets/img/nodejs.png" alt="Node.js" data-toggle="popover" title="Node.js">
                    <img class="m-5 skill-icon" src="/assets/img/Python.png" alt="Python" data-toggle="popover" title="Python">
                    <img class="m-5 skill-icon" src="/assets/img/sqlite.png" alt="SQLite" data-toggle="popover" title="SQLite">
                </div>
            </div>
        </div>
        <div class="parallax"></div>
        <div id="projects" class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="mb-5">Projects</h1>
                <div class="row proj-row">
                    <div class="col-lg col-md proj-img">
                        <img src="/assets/img/finterest.jpg" alt="Project">
                    </div>
                    <div class="col-lg col-md mt-3 mt-lg-0">
                        <h3>Goin'</h3>
                        <p class="lead">Created login page which
                                utilizes Bcrypt and has validations. Users can add and search for activities
                                and see friend’s favorite activities.</p>
                        <p class="lead">Technologies: Python,
                                Django, HTML, CSS, SQLite, Bootstrap, and Bcrypt.</p>
                                <a href="https://github.com/libertyjayne/Goin">
                                  <img class="proj-icon" src="/assets/img/github.png" data-toggle="popover" title="GitHub" alt="GitHub">
                              </a>
                    </div>
                </div>
                <div class="row proj-row">
                    <div class="col-lg col-md proj-img">
                        <img src="/assets/img/ecom.jpg" alt="Project">
                    </div>
                    <div class="col-lg col-md mt-3 mt-lg-0">
                        <h3>eCommerce Site</h3>
                        <p class="lead">Created an eCommerce site. Users can search for products, add products to their cart, 
                            and check out. Admins can create, update, and delete products and categories.</p>
                        <p class="lead">Technologies: C#, ASP.NET Core, HTML, CSS, MySQL, Bootstrap, Entity Framework, and Bcrypt.</p>
                        <a href="https://github.com/libertyjayne/eCommerce">
                            <img class="proj-icon" src="/assets/img/github.png" data-toggle="popover" title="GitHub" alt="GitHub">
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    
        <div id="contact" class="jumbotron jumbotron-fluid">
            <div class="container pb-5">
                <h1 class="mb-4">Contact Me</h1>
                 
                <div class="row contact-icons mb-5 mb-sm-0">
                    <a class="col-lg mb-4" href="https://www.linkedin.com/in/libertyjayne/">
                      <img src="/assets/img/linkedin.png" data-toggle="popover" title="LinkedIn" alt="LinkedIn">
                    </a>
                    <a class="col-lg mb-4 mr-4-md" href="https://github.com/">
                      <img src="/assets/img/github.png" data-toggle="popover" title="GitHub" alt="GitHub">
                    </a>
                    <a class="col-lg mb-4" href="mailto:libertyjayne@gmail.com">
                      <img src="/assets/img/email.png" data-toggle="popover" title="Email me" alt="Email">
                    </a>
                    <a class="col-lg mb-4" href="/assets/liberty_failor.docx">
                      <img src="/assets/img/report.png" data-toggle="popover" title="Resume" alt="Resume">
                    </a>
                </div>
            </div> 
        </div>
  
    <!-- End of content -->
    </div>

  