<div id="projects">
    <div class="section">
        <h1>Projects</h1>

        <div class="row proj-row">
            <div class="col-lg col-md proj-img">
                <img src="/assets/img/finterest.jpg" alt="Project">
            </div>
            <div class="col-lg col-md mt-3 mt-lg-0">
                <h3>Goin'</h3>
                <p class="lead">Created login page which
                        utilizes Bcrypt and has validations. Users can add and search for activities
                        and see friend’s favorite activities.</p>
                <p class="lead">Technologies: Python,
                        Django, HTML, CSS, SQLite, Bootstrap, and Bcrypt.</p>
                    
                <a href="https://github.com/libertyjayne/Goin">
                    <fa-icon [icon]="faGitHub" size="4x" class="icon mr-3" data-toggle="popover" title="GitHub" alt="GitHub"></fa-icon>
                </a>
                <!-- <a href="https://infinterest.com">
                    <fa-icon [icon]="faGlobe" size="4x" class="icon"data-toggle="popover" title="Web Site" alt="Web Site"></fa-icon>
                </a> -->
            </div>
        </div>
        <div class="row proj-row">
            <div class="col-lg col-md proj-img">
                <img src="/assets/img/ecom.jpg" alt="Project">
            </div>
            <div class="col-lg col-md mt-3 mt-lg-0">
                <h3>eCommerce Site</h3>
                <p class="lead">Created an eCommerce site. Users can search for products, add products to their cart, 
                    and check out. Admins can create, update, and delete products and categories.</p>
                <p class="lead">Technologies: C#, ASP.NET Core, HTML, CSS, MySQL, Bootstrap, Entity Framework, and Bcrypt.</p>
            
                <a href="https://github.com/libertyjayne/eCommerce">
                    <fa-icon [icon]="faGitHub" size="4x" class="icon mr-3" data-toggle="popover" title="GitHub" alt="GitHub"></fa-icon>
                </a>

            </div>

    </div>
</div> 
