  <header>
    <nav>
      <!-- To Do - Audit A11y -->
      <ul>
        <li><a (click)="smoothScroll('about-me')">
            About
        </a></li>
        <li><a (click)="smoothScroll('skills')">
            Skills
        </a></li>
        <li><a (click)="smoothScroll('projects')">
            Projects
        </a></li>
        <li><a (click)="smoothScroll('contact')">
            Contact
        </a></li>
      </ul>
    </nav>
  </header>

  <main id="content">
      <app-banner></app-banner>
      <app-about></app-about>
      <app-skills></app-skills>
      <app-projects></app-projects>
      <app-contact></app-contact>
  </main>
