<div id="skills" class="jumbotron jumbotron-fluid mb-0 pt-4">
    <div class="container pt-5">
        <h1 class="mb-4">My Skills</h1>
        <div class="text-center">
            <img class="m-5 skill-icon" src="/assets/img/bootstrap.png" alt="Bootstrap" data-toggle="popover" title="Resume">
            <img class="m-5 skill-icon" src="/assets/img/ajax.png" alt="Ajax" data-toggle="popover" title="Ajax">
            <img class="m-5 skill-icon" src="/assets/img/angular.png" alt="Angular" data-toggle="popover" title="Angular">
            <img class="m-5 skill-icon" src="/assets/img/CSS.png" alt="CSS" data-toggle="popover" title="CSS"><br>
            <img class="m-5 skill-icon" src="/assets/img/django.png" alt="Django" data-toggle="popover" title="Django">
            <img class="m-5 skill-icon" src="/assets/img/MEAN.png" alt="MEAN" data-toggle="popover" title="MEAN">
            <img class="m-5 skill-icon" src="/assets/img/mongodb.png" alt="Mongo-DB" data-toggle="popover" title="MongoDB">
            <img class="m-5 skill-icon" src="/assets/img/mysql.png" alt="MySQL" data-toggle="popover" title="MySQL"><br>
            <img class="m-5 skill-icon" src="/assets/img/c-sharp.png" alt="C-Sharp" data-toggle="popover" title="C#">
            <img class="m-5 skill-icon" src="/assets/img/nodejs.png" alt="Node.js" data-toggle="popover" title="Node.js">
            <img class="m-5 skill-icon" src="/assets/img/Python.png" alt="Python" data-toggle="popover" title="Python">
            <img class="m-5 skill-icon" src="/assets/img/sqlite.png" alt="SQLite" data-toggle="popover" title="SQLite">
        </div>
    </div>
</div>