<div id="skills" class="reverse">
    <div class="section">
        <h1>Tools</h1>
        <div class="cards">
            <div class="card">
                <h2>Languages</h2>
                <div class="card card-just-text">
                    <div class="card-body">
                        <h6 class="card-category">Best cards</h6>
                        <h4 class="card-title"><a href="javascript:void(0)">Blue Card</a></h4>
                        <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div> <!-- end card -->
            </div>
            <div class="card" id="languages">
               
                <p>LANGUAGES</p>
                <ul>
                    <li>
                        C#
                    </li>
                    <li>
                        JavaScript
                    </li>
                    <li>
                        TypeScript
                    </li>
                    <li>
                        Python
                    </li>
                    <li>
                        Java
                    </li>
                </ul>
            </div>
            <div class="card">
                <h2>Languages</h2>
                <ul>
                    <li>
                        C#
                    </li>
                    <li>
                        JavaScript
                    </li>
                    <li>
                        TypeScript
                    </li>
                    <li>
                        Python
                    </li>
                    <li>
                        Java
                    </li>
                </ul>
            </div>
            <div class="card">
                <h2>Languages</h2>
                <ul>
                    <li>
                        C#
                    </li>
                    <li>
                        JavaScript
                    </li>
                    <li>
                        TypeScript
                    </li>
                    <li>
                        Python
                    </li>
                    <li>
                        Java
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>